<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- Header stuff goes here --}}
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "MYSYSTEM.ActorName"}}"/></h1>
            <div class="resources grid grid-2col">{{!-- resources here --}}</div>
            <div class="abilities grid grid-3col">{{!-- abilities here --}}</div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Tab content goes here --}}
    </section>
</form>
{{!-- ...continued... --}}
  <div class="resources grid grid-2col">
    <div class="resource flex-group-center">
        <label for="data.health.value" class="resource-label">Health</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.health.surrender" value="{{data.health.surrender}}" data-dtype="Number"/>
        </div>
    </div>
</div>
{{!-- ...continued... --}}
{{!-- ...continued... --}}
{{!-- Sheet Body --}}
<section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
        {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
        <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Name</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
              </div>
            </li>
        {{#each items as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                <h4 class="item-name">{{item.name}}</h4>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
        </ol>
    </div>

</section>
{{!-- ...continued... --}}
            </ol>
        </div>
    </section>
</form>